.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.stats-table{
  font-size: 1.0rem; 
  border-collapse: collapse; /* This property ensures that borders collapse into a single border */
  width: 80%; /* Set the width of the table */
  margin: 0 auto;
}
.stats-table th,
.stats-table td {
  border: 2px solid #030303; /* Add a 1px solid border around each cell */
  padding: 8px; /* Add padding inside each cell */
  text-align: left; /* Align text to the left */
}

.stats-table th {
  background-color: #013477; /* Add a background color to header cells */
}

.stats-table tr:nth-child(even) {
  background-color: #013477; /* Alternate row background color */
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input-field {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  margin-left: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #013477;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
